.form-empleado{
    display: flex;
    justify-content: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
}


.form-contenedor h1{
    margin-bottom: 5vh;
    display: flex;
    text-align: center;
    margin-left: 75px;
}

.form{
    display: flex;
    flex-direction: column;
}

.form-campo {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
}


.form-campo input{
    border: 1px solid #e1e1e1;
    padding: 0.5rem;
    flex: 1;
}

.form-campo select{
    border: 1px solid #e1e1e1;
    padding: 0.5rem;
    flex: 1;
}

.form-button{
    width: 50%;
    border: 1px solid #e1e1e1;
    padding: 0.5rem;
    cursor: pointer;
    margin-left: 100px;
    font-size: 20px;
    margin-bottom: 2vh;
    color:#2f3848 ;
    background-color: #e1e1e1;
    border-radius: 10px;

}

