.home{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
}

.titulo{
    width: 100%;
    display: flex;
    justify-content: center;   
    font-size:25px;
}


.contenedorHome{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-around;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
}

.link{
    text-decoration: none;
    padding: 2vh;
    border-radius: 10px;
    color:#2f3848 ;
    background-color: #e1e1e1;
    border-radius: 10px;
    font-size: 20px;

}


@media screen and (max-width: 900px) {
    .contenedorHome{
        flex-direction: column;
         margin-top: 10vh;

    }

    .boton{
        margin-bottom: 10vh;
        margin-left: auto;
        margin-right: auto;
    }
  }


  .login{
      margin-left: auto;
      margin-right: 10px;
  }

  .home-datos h2{
      color: white;
  }

  .login button{
      padding: 0.3rem;
  }

  .indicadores{
    margin-top: 5vh;
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .alerta-warning{
      color: yellow;
  }

  .alerta-danger{
    color: orangered;
}